// color variables
$textcolor: #a8611a
$textcolor2: #1155c4
$cream: #f2e5c6
$green: #6a7740
@font-face 
  font-family: 'Standard'
  src: url('./components/Fonts/OldStandardTT-Regular.ttf')
@font-face 
  font-family: 'Standard-bold'
  src: url('./components/Fonts/OldStandardTT-Bold.ttf')
@font-face 
  font-family: 'Prata'
  src: url('./components/Fonts/Prata-Regular.ttf')
body
  color: $textcolor
  background-color: $cream
  overflow-x: hidden !important
h1, .designtext
  color: $textcolor !important
h2 
  font-family: 'Standard-bold'
.shop-header
.nav-link
  font-family: 'Arial'
  color: $textcolor !important
  font-weight: 100 !important
.navbar-brand
  font-family: 'Standard-bold'
// .splash-curtain-row
//   -webkit-transition: background-image 0.2s linear !important
//   transition: background-image 0.2s linear !important
.splash-container
  transition-duration: 0.4s !important
  button 
    font-family: 'Standard-bold'
    font-size: larger
    color: white
  .curtain-heading
    text-align: start
    color: #1155c4
  .curtain-subtext
    text-shadow: 0px 0px 5px #000000d2
    font-size: larger
  .curtain-description
    font-family: 'Standard'
    color: #000000c8
    text-shadow: 1px 2px 4px #ffffff3b
  .link
    color: #000000
.splash-curtain-row
  height: 87vh
  position: relative
.main-header
  position: absolute
  top: 5%
  left: 2%
  z-index: 1
  font-family: 'Prata'
  color: $textcolor2 !important
.curtain-btn
  height: 100%
  wdith: 100%
  background-color: #77777700
  border: solid white 0px
  border-right: solid #ffffff59 0.5px 
  color: black
  transition-duration: 0.2s
  &:active
    background-color: #dfdfdfac
.selected-btn 
  color: black
  transition-duration: 0.2s
  background-color: #ffffff97
  backdrop-filter: blur(0.2px)
.link
  text-decoration: none !important
.arrivals-container 
  background-color:$textcolor
  color: $cream
.product-img
  height: 50vh
  width: auto
.alert-shipping 
  background-color:$textcolor2
  color: white
.about-us-text
  font-size: large
.collections-container
  background-color:$textcolor
  color: $cream
  .collections-header
    color: $textcolor2
    font-family: 'Standard-bold'
  .collections-subtext
    text-shadow: 1px 2px 4px #ffffffd2
    font-size: large
    font-family: 'Standard-bold'
    color: black !important
  .collections-link
    font-family: 'Standard-bold'
    font-weight: 800
    font-size: x-large
    color: #161616
    text-decoration: none
.collection-item-container
  background-size: 130% auto !important
  transition: background-size 0.3s ease-in-out !important
  &:hover
    transition-duration: 0.4s !important
    background-size: 135% auto !important
.collections-row 
  height:40vh
.footer-title
  font-family: 'Standard-bold'
.footer-link
  color: $textcolor !important
a:hover 
  cursor: pointer
@media (max-width: 1250px) 
  .collections-row 
    height: 30vh
@media (max-width: 767px )
  .collections-row 
    height: 70vh


  // shop section
.item-card
  justify-content: center
  .item-card-inner
   background-color:  !important
   min-height: 10vh
  img
    display: flex
    object-fit: scale-down
    background-image: cover
    object-fit: cover
    height: 300px
    width: 900px
    border: 1px solid #e9d2ae6f !important
    transition-delay: 0.1s
    transition-duration: 0.3s
    margin-bottom: 5px
    &:hover
      transition-delay: 0.1s
      transition-duration: 0.3s ease
      transform: scale(1.05)
  .item-desc
    font-family: "Standard-bold"
    color: black
    font-size: xx-large

.modal-dialog
  margin-top: 30px
  max-width: 70vw !important
  justify-content: center !important

.product-button, .cart-button 
  width: 50%
  background-color: $textcolor2
  border: 1px solid #00000000
  border-radius: 10px
  color: $cream
  padding: 7px
  transition-duration: 0.3s
  &:hover
    transition-duration: 0.3s
    background-color: #293e9a
    transform: scale(1.04)
    box-shadow: 1px 4px 9px #45454555
.shop-img
  background-color: $cream
  color: $textcolor
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  height: 15vh
  width: auto
  border-bottom: 1px solid grey

.shop-text
  font-family: 'Outfit-bold'
  font-size: large
  color: $textcolor
  padding-bottom: 9px 
